vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-R0K1IFU\\deepi
vti_modifiedby:SR|DESKTOP-R0K1IFU\\deepi
vti_timelastmodified:TW|01 Dec 2020 06:20:47 -0000
vti_timecreated:TR|01 Dec 2020 00:15:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Assignment04/assignment04.html
vti_nexttolasttimemodified:TW|01 Dec 2020 06:20:47 -0000
vti_cacheddtm:TX|01 Dec 2020 06:20:47 -0000
vti_filesize:IR|1603
vti_cachedlinkinfo:VX|S|images/CC50thAnniversary.jpg S|images/Centennial_college_logo.png S|images/Centennial_college_logo.png
vti_cachedsvcrellinks:VX|FSUS|Assignment04/images/CC50thAnniversary.jpg FSUS|Assignment04/images/Centennial_college_logo.png FSUS|Assignment04/images/Centennial_college_logo.png
