vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-R0K1IFU\\deepi
vti_modifiedby:SR|DESKTOP-R0K1IFU\\deepi
vti_timelastmodified:TR|26 Nov 2020 02:34:39 -0000
vti_timecreated:TR|12 Nov 2020 19:34:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week09/week09.html
vti_nexttolasttimemodified:TW|12 Nov 2020 19:55:12 -0000
vti_cacheddtm:TX|26 Nov 2020 02:34:39 -0000
vti_filesize:IR|715
vti_cachedlinkinfo:VX|S|images/trilliumgradient.png S|images/CC50thAnniversary.jpg
vti_cachedsvcrellinks:VX|FSUS|Week09/images/trilliumgradient.png FSUS|Week09/images/CC50thAnniversary.jpg
